IEEEtran.zip
epsFig.eps
finiteVx.eps
finiteVx.fig
finiteVy.eps
finiteVy.fig
finiteX.eps
finiteX.fig
infiniteVx.eps
infiniteVx.fig
infiniteVy.eps
infiniteVy.fig
infiniteX.eps
infiniteX.fig
matlabFile.aux
matlabFile.log
matlabFile.out
matlabFile.synctex
multiAgentSystemOptimalControl.aux
multiAgentSystemOptimalControl.bbl
multiAgentSystemOptimalControl.blg
multiAgentSystemOptimalControl.log
multiAgentSystemOptimalControl.synctex